---
const { teamName, ratingsInfo, predictedWinner } = Astro.props;
---
<style>
    .predictedWinner {
        background-color: green;
    }
</style>
<span class={`${predictedWinner ? 'predictedWinner' : ''}`}>{teamName}</span>